
 
body{
        background-color: rgb(68, 211, 208);
    }
    
    /* header = intestazione */
    

    
    
    /* classe logo BP */
    
.center {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        display: block;
    }


@media (max-width: 1920px) {
    
    #icon1 {
        width: 10%;
        margin-left: auto;
        margin-right: 60%;
        display: block;

    }
    
    #icon2 {
        width: 10%;
        margin-left: auto;
        margin-right: 60%;
        display: block;
        margin-top: ;

}

    .header{
        background-color: rgb(39, 112, 111);
        margin: -10px;
        margin-top: -11px;
        padding: 0px;
    }

    #WebDeclaration {
        border-style: inset; 
        background-color: rgb(61, 189, 187); 
        border-color: rgb(61, 189, 187); 
        font-family: 'Poppins', sans-serif; 
        font-size: 10px;"

}

#NewsP {
    margin-left: 50%;
    margin-top: -120px;
    color: rgb(105, 86, 86);
}

#NewsP2 {
    margin-left: 50%;
    margin-top: -120px;
    color: rgb(105, 86, 86);
}






}





















