@media (max-width: 480px) {



#icon1 {
        width: 35%;
        margin-left: auto;
        margin-right: 60%;
        display: block;
        margin-top: 10%;

}
   
#icon2 {
        width: 35%;
        margin-left: 7%;
        margin-right: 100%;
        display: block;
        margin-top: 135%;

}
        .center {
margin-right: auto;
margin-left: auto;
width: 100%;
display: block;
}


.header{


margin: -10px;
margin-top: -15px;
padding: 0px;


}

#NewsP {
        margin-left: 200px;
        margin-top: -120px;
        color: rgb(105, 86, 86);
}

#NewsP2 {
        margin-left: 200px;
        margin-top: 30px;
        color: rgb(105, 86, 86);
}

#WebDeclaration {
        border-style: inset; 
        background-color: rgb(61, 189, 187); 
        border-color: rgb(61, 189, 187); 
        font-family: 'Poppins', sans-serif; 
        font-size: 10px;"

}


































}


    
























