@media (max-width: 480px) {



#icon1 {
        font-size: 400%;
        text-decoration: none;
        color: #a6efee;
        
        margin-left: auto;
        margin-right: 0px;
        

        top: -10%;
        position: relative;
        left: 10%;

}
   
#icon2 {
        font-size: 350%;
        text-decoration: none;
        color: #a6efee;
        
        margin-left: auto;
        margin-right: 0px;
        

        top: -10%;
        position: relative;
        left: 5%;

}
        .center {
margin-right: auto;
margin-left: auto;
width: 100%;
display: block;
}


.header{


margin: -10px;
margin-top: -15px;
padding: 0px;


}

#NewsP {
        margin-left: 200px;
        margin-top: -120px;
        color: rgb(105, 86, 86);
}

#NewsP2 {
        margin-left: 200px;
        margin-top: -100px;
        color: rgb(105, 86, 86);
}

#WebDeclaration {
        border-style: inset; 
        background-color: rgb(61, 189, 187); 
        border-color: rgb(61, 189, 187); 
        font-family: 'Poppins', sans-serif; 
        font-size: 10px;"

}


































}


    
























