head{
    background: aqua;
}

body {
    background-color: aqua;
}

.link {
    text-decoration: none;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    
}

.S20px {
    font-size: 20px;
}

.MALL {
    margin: 200px;
}

.bold {
    font-weight: bold;
}


.p1 {
    border-style: outset;
    border-radius: 5px;
    border-color: black;
    padding: 30px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 600px;
    margin-right: 600px;
}


@media (max-width: 1920px) {
    #Ren1 {
    position: fixed;
    left: 20%;
    bottom: 0%;
        
        
    }
    
    #Ren2 {
    left: 40%;
    position: fixed;
    bottom: 0%;
    
    }
    
    #Ren3 {
    left: 60%;
    position: fixed;
    bottom: 0%;
    
    
}
    
    #Ren4 {
    left: 80%;
    postion: fixed;
    bottom: 0%;
    
        
    }
    
}
    
    
@media (max-width: 480px) {
    #Ren1 {
        position: fixed;
        left: 0%;
        bottom: 0%;
        
            
    }
        
        #Ren2 {
        left: 20%;
        position: fixed;
        bottom: 0%;
    
    }
        
        #Ren3 {
        left: 50%;
        position: fixed;
        bottom: 0%;
        
        
        }
        
        #Ren4 {
        left: 80%;
        postion: fixed;
        bottom: 0%;
        
            
        }
        
}


@media (max-width: 320px) {
    #Ren1 {
        position: fixed;
        left: 0%;
        bottom: 0%;
        font-size: 20px;
        
            
    }
        
        #Ren2 {
        left: 0%;
        position: fixed;
        bottom: 10%;
        font-size: 20px;
    
    }
        
        #Ren3 {
        left: 0%;
        position: fixed;
        bottom: 5%;
        font-size: 20px;
        
        
        }
        
        #Ren4 {
        left: 0%;
        postion: fixed;
        bottom: 15%;
        font-size: 20px;
        
            
        }
        
}



@media (max-width: 1280px) {
    .render {
        position: fixed;
        color: black;
        text-decoration: none; 
        font-size: 200%;
        font-family: 'Karla', sans-serif;
}

}


@media (max-width: 480px) {
    .render {
        position: fixed;
        color: black;
        text-decoration: none; 
        font-size: 125%;
        font-family: 'Karla', sans-serif;
}

}


@media (max-width: 320px) {
    .render {
        position: fixed;
            color: black;
            text-decoration: none; 
            font-size: 200%;
            font-family: 'Karla', sans-serif;
            
}

}




