


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 233, 233);
    
}

.fredoka {
    font-family: 'Fredoka One', cursive;
}

@media (max-width: 1920px) {
    .render {
        position: fixed;
        color: black;
        text-decoration: none; 
        font-size: 200%;
        font-family: 'Karla', sans-serif;
        
    }

}



@media (max-width: 1280px) {
    .render {
        position: fixed;
        color: black;
        text-decoration: none; 
        font-size: 200%;
        font-family: 'Karla', sans-serif;
}

}


@media (max-width: 480px) {
    .render {
        position: fixed;
        color: black;
        text-decoration: none; 
        font-size: 125%;
        font-family: 'Karla', sans-serif;
}

}


@media (max-width: 320px) {
    .render {
        position: fixed;
            color: black;
            text-decoration: none; 
            font-size: 200%;
            font-family: 'Karla', sans-serif;
            
}

}



@media (max-width: 1920px) {
    #Ren1 {
    position: fixed;
    left: 20%;
    bottom: 0%;
        
        
    }
    
    #Ren2 {
    left: 40%;
    position: fixed;
    bottom: 0%;
    
    }
    
    #Ren3 {
    left: 60%;
    position: fixed;
    bottom: 0%;
    
    
}
    
    #Ren4 {
    left: 80%;
    position: fixed;
    bottom: 0%;
    
        
    }
    
}
    
    
@media (max-width: 480px) {
    #Ren1 {
        position: fixed;
        left: 0%;
        bottom: 0%;
        
            
    }
        
        #Ren2 {
        left: 20%;
        position: fixed;
        bottom: 0%;
    
    }
        
        #Ren3 {
        left: 50%;
        position: fixed;
        bottom: 0%;
        
        
        }
        
        #Ren4 {
        left: 80%;
        position: fixed;
        bottom: 0%;
        
            
        }
        
}


@media (max-width: 320px) {
    #Ren1 {
        position: fixed;
        left: 0%;
        bottom: 0%;
        font-size: 20px;
        
            
    }
        
        #Ren2 {
        left: 0%;
        position: fixed;
        bottom: 10%;
        font-size: 20px;
    
    }
        
        #Ren3 {
        left: 0%;
        position: fixed;
        bottom: 5%;
        font-size: 20px;
        
        
        }
        
        #Ren4 {
        left: 0%;
        position: fixed;
        bottom: 15%;
        font-size: 20px;
        
            
        }
        
}


/* SIC E LO STRISCIONE STRISCIA IL COBRA */
/* SIC E LO STRISCIONE STRISCIA IL COBRA */
/* SIC E LO STRISCIONE STRISCIA IL COBRA */
/* SIC E LO STRISCIONE STRISCIA IL COBRA */
/* SIC E LO STRISCIONE STRISCIA IL COBRA */
/* SIC E LO STRISCIONE STRISCIA IL COBRA */

@media (max-width: 1920px) {
    #sic {
        position: relative;
        top: -60px;
        margin-left: 640px;
        

        
        width: 600px;
        height: 300px;
    }
}

@media (max-width: 1280px) {
    #sic {
        position: relative;
        top: -60px;
        margin-left: 350px;
        

        
        width: 580px;
        height: 350px;
    }
}

@media (max-width: 980px) {
    #sic {
        position: relative;
        top: -25px;
        margin-left: 170px;
        

        
        width: 640px;
        height: 360px;


    }
}

@media (max-width: 480px) {
    #sic {
        position: relative;
        top: -25px;
        margin-left: 120px;
        

        
        width: 240px;
        height: 125px;
    }
}

@media (max-width: 1920px) {
    #sic_introduzione {
        text-align: center;
        font-size: 24px;
        
    }
}







