body{
    background-color: rgba(109, 109, 109, 0.329);
}

@media (max-width: 1920px) {

    #sic {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    

        #sic {
            width:40%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    
        #Homepage {
            text-decoration: none;
            color: black;
            font-size: 35px;
        
            border-style: solid;
            border-radius: 60px;
            border-color: rgb(160, 0, 160);
            
            background-color: rgb(224, 224, 224);
            padding: 30px;
    
            margin: 45%;
            position: relative;
            top: 100px;
    
    
        }
    
        #Lista {
    
            text-decoration: none;
            color: black;
            font-size: 35px;
        
            border-style: solid;
            border-radius: 60px;
            border-color: rgb(56, 160, 16);
            
            background-color: rgb(224, 224, 224);
            padding: 30px;
    
            margin: 5%;
    
    
        }
    
    
        #Ultima {
    
            text-decoration: none;
            color: black;
            font-size: 35px;
        
            border-style: solid;
            border-radius: 60px;
            border-color: rgb(189, 5, 5);
            
            background-color: rgb(224, 224, 224);
            padding: 30px;
    
            margin: -1%;
            
    
    
        
    
    }

    









}